body {
	margin-top: 75px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 75px;
	text-align: center;
	background-color: #DEB887;
}

h2 {
	font-style: italic;
}

strong {
	text-transform: uppercase;
	color: #FF0000;
}